body{
    background-image: url(bg7.jpg);
    background-repeat: repeat;
    background-size:cover;
    font-family: 'Big Shoulders Text',cursive;
    font-size: 20px;
}
#navi{
    align-items: center;
    justify-content: space-around;
    display: flex;
}
#list1{
    display: flex;
    list-style: none;
    gap: 8rem;
}

#list1 a{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border:20px;
    color: white;
    padding: 10px;
    border: 2px solid brown;
    border-radius: 40px;
    transition: background-color 0.3s ease-in;
}
a:hover{
    display: inline-block;
    background-color:brown;
    cursor: pointer;
    border:20px;
    color: white;
    padding: 10px;
    border: 2px solid brown;
    border-radius: 40px;
}
#div1{
    gap: 5rem;
    height: 80vh;
}
#s1{
    font-size: 40px;
}
#Con img{
    margin: 20px;
}
#s2{
    position: absolute;
    font-size: 40px;
    top:2100px;
    left:600px;
    color:white;
    font-family:'Big Shoulders Text',cursive;
}

#projects{
    
    font-family: 'Big Shoulders Text',cursive;
    font-size:20px;
    position: absolute;
    color:black;
    top:100px;
    left:200px;
    right:200px;
    bottom:100px;
    text-align: justify;
    border: 20px;
    padding: 20px;
    border-color: brown;
}

#skills{
    
    font-family: 'Big Shoulders Text',cursive;
    font-size:20px;
    position: absolute;
    color:black;
    top:700px;
    left:200px;
    right:200px;
    bottom:100px;
    text-align: justify;
    border: 20px;
    padding: 20px;
    border-color: brown;
}
h2{
    font-family: 'Big Shoulders Text',cursive;
    color: white; 
}
#programming{
    
    font-family: 'Big Shoulders Text',cursive;
    font-size:20px;
    position: absolute;
    color:black;
    top:1450px;
    left:200px;
    right:200px;
    bottom:100px;
    text-align: justify;
    border: 20px;
    padding: 20px;
    border-color: brown;
}
h1{
    font-family: 'Big shoulders Text',cursive;
    color: white;
}
div.scrollmenu {
    column-count: 4;
    column-width: 200px;
    column-gap: 20px;
    
}
div.menu {
    column-count: 4;
    column-width: 200px;
    column-gap: 20px;
    /* display: grid;
grid-template-rows: 50px 50px 50px 50px; */
}
#para{
    padding:0.1px;
}

.insdiv{
    margin-top: 0px;
    padding :20px ;
    border:2px solid brown;
    box-shadow: 10px 10px brown;
    border-radius: 20px;
}
p{
    font: 'Big Shoulders Text',cursive;
    color: white;
}
#a{
    color: white;
}
.pros{
    position: relative;
    top:2200px;
    margin-top: 0px;
    padding :20px ;
    border:2px solid brown;
    box-shadow: 10px 10px brown;
    border-radius: 20px;
}

#cre{
    font-family: 'Big Shoulders Text',cursive;
    color: white;
}
#lis{
    font-family: 'Big Shoulders Text',cursive;
    color: white;
}
#s3{
    position: relative;
    top:2900px;
}